@media (min-width:1000px){
    audio{
        display:inline;
    }
}
body, 
header{
    font-size: 12pt;
    color:rgb(0,0,0);
    line-height: 14pt;
    padding-left: 5pt;
    padding-right: 5pt;
    padding-top: 5pt;
    font-family: 'IBM Plex Mono', monospace;
}

h1 {
    color:navy;
    margin-left:20px;
    font-size: 20pt;
    text-align: center;
    position:sticky;
}

h2{
    color:#83491a;
    text-decoration: blue wavy underline;
    text-align: left;
}

h3{
    color:hsl(187, 88%, 23%);
    padding: 4px;
    margin: 4px;
}

.box{
    width:auto;
    height:auto;
    margin:auto;
    padding:auto;
    border:5px solid black;
}

p{
    border: 2px solid green;
    border-style: dotted;
    width: auto;
    border-radius: rem;
    display:inline-block;
}
p:active{
    color:rgb(100,100,100);
}

p
em, 
span{
    color:blueviolet;
}

ul{
    margin-top: 8px;
    margin-bottom: 8px;
    display:flex;
    flex-grow:1;
    flex-direction:row;
    justify-content:space-evenly;
}

ol{
    margin-top: 8px;
    margin-bottom:8px;
    display:grid;
    justify-content:center;
    align-content:center;
    justify-items:center;
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

video{
    height:fit-content;
    width:fit-content;
    max-width:900px;
    max-height:600px;
    position:relative;
    justify-self:center;
}

audio{
    display:none;
}

button:hover{
    /*Changes the color of button text when hovering over it*/
    color:darkblue;
}

#Meeting_1{
    color:darkslategrey;
}

* {
    background-color:rgb(208, 208, 208);
}

footer p{
    border-style:none;
}

input[type="text"]{
    width:fit-content;
    color:blue;
}

div > p{
    border-style:none;
    background-color:silver;
}

ul > li {
    color:lightcoral;
}

h2+h3 {
    background-color:darkblue;
    color:lightgray;
    width:fit-content;
}

img ~ p {
    background-color:lightcoral;
}

p.summary{
    background-color:black;
    color: lightgray;
    width:fit-content;
}